/* Articles */
.articles {
    padding: 20px;
    text-align: center;
}

.articles h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.articles ul {
    list-style: none;
    padding: 0;
}

.article {
    text-align: left;
    margin-bottom: 20px;
}

.article a {
    color: #333; /* or any color you like */
    text-decoration: none;
}

.article a:hover {
    color: #0077b5; /* or any hover color you like */
    text-decoration: underline;
}

.article h3 {
    margin: 0;
    font-size: 1.5em;
}

.article p {
    margin-top: 10px;
}